.header{
    height: 100vh;
    /*le pone margen a todo el header*/
    padding: 50px;
    background: url('../img/bg.jpg') bottom center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 30;
}

.header-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .5;
    background: url(../img/simple-pattern-overlay.png);
    z-index: 31;
}

.header-content{
    position: absolute;
    padding: 2rem;
    z-index: 32;
}

/*tambien se puede: .header .logo
                    .header h1*/
.header-content > h1{
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.header-content .tagline{
    margin: 1rem;
    padding-top:1rem;
    text-align: center;
    font-size: 1.5rem;
}

.header-content .promo-text{
    /* margin: 40% 0rem 2rem 0rem; */
    width: 262px;
    margin-top: 12%;
    background-color: rgba(255, 255, 255, 0.202);
    padding: 2rem;
    text-shadow: black 1px 1px;
    text-align: justify;
}

@media (min-width: 780px){
    .header-content .promo-text{
        width:auto;
        margin: 20% 2rem 2rem 2rem;
        background-color: rgba(255,255,255,.25);
        padding: 2rem;
        text-shadow: black 1px 1px;
    }

}



