.bg-menu{
    width: 70px;
    height: 70px;
}

.bgm-checkbox{
    display: none;
}

.list-icon{
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: var(--dark-color);
    z-index: 99;
}

.navbar .logo{
    display: none;
}

.navbar-list{
    position: absolute;
    justify-content: left;
    align-items: flex-start;
    list-style: none;
    display: none;
    text-align: left;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-color: var(--dark-color);
    /* opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; */
}

.bgm-checkbox:checked + .navbar-list{
    /* opacity: 1;
    visibility: visible; */
    display: inline-block;
    background-color: var(--dark-color);
}

.navbar-item{
    display: block;
    margin: 0 .25em;
    padding: 0;
}

.navbar-item a{
    display: block;
    padding: 1rem;
    font-weight: bold;
}

.navbar-item a:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
}

header{
    clear: both;
}

@media (min-width: 780px){
    .navbar > .logo{
        display: block;
        float: left;
        font-size: 1.5rem;
        line-height: 4rem;
        margin-left: 1rem;
        
    }

    .navbar > .navbar-list{
        float: right;
        padding-right: 0;
    }

    .burguer-menu{
        display: block;
    }

    .bg-menu{
        display: none;
    }

    .navbar-list{
        justify-content: flex-end;
        position: relative;
        display: inline;
        /* visibility:visible;
        opacity: 1; */
    }
    
    .navbar-item{
        display: inline-block;
        margin: 0 .25em;
        padding: 0;
    }
    
    .navbar-item a{
        padding: 1rem;
        font-weight: bold;
    }
}